/* FONT CLASSES */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }  

/* FONT CLASSES */

:root {
    --accent: #202C33;
    --bg: #111B21;
    --text-color: #FFFFFF;
    --secondary: #AEBAC1;
    --tertiary: #8696A0;
    --border-hover-color: #202C33; 
    --chat-bg: #0B141A;
    --selected-chat-color: #2A3942;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

}

/* GENERAL HTML TAGS */

#root {
    min-height: 100vh;
    background-color: var(--chat-bg);
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    min-height: 100vh;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    
    .main-root {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        min-height: 100vh;
    }
    
    nav {
        border-right: 1px solid --border-hover-color;
        width: 45%;
        min-height: 100vh;
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    div {
        padding: 0;
        margin: 0;
    }
/* GENERAL HTML TAGS */


/* GENERAL TAILWINDLIKE CLASSES */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
    
.w-full {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.h-full {
    min-height: 100vh;
}

/* GENERAL TAILWINDLIKE CLASSES */

/* SIDE BAR CLASSES */

.profile-banner {
    justify-content: space-between;
    background-color: var(--accent);
    padding: 0.5rem;
    border-top: 2px solid var(--border-hover-color);
}

.profile-banner div {
    padding: 0.5rem 0.75rem;
    flex-direction: row;
    gap: 1rem;
}

.icon-button {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0px;
    margin: 0;
    border: none;
    color: var(--secondary);
    cursor: pointer;
}

.profile-picture-bubble {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.search-bar {
    padding: 0.5rem; /* Should be the same as in the chats-list li class */
    width: 100%;
}

.search-bar input {
    border: none;
    background-color: var(--accent);
    padding: 0.75rem 0rem 0.75rem 3rem; 
    border-radius: 0.35rem;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}

.search-bar input::placeholder {
    color: var(--tertiary);
    font-size: 1rem;
    font-weight: 500;
}

textarea:focus, input:focus{
    outline: none;
}

.chats-list {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.chats-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem; /* Should be the same as in the search bar class */ 
    border-top: 1px solid var(--border-hover-color);
}

.chats-list li:hover {
    background-color: var(--border-hover-color);
    transition-duration: 200ms;
    transition: all;
}

.user-name {
    font-size: 1.1rem;
}

.message-preview {
    width: 45ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    color: var(--secondary);
}

.msg-date-preview {
    color: var(--secondary);
    font-size: 0.8rem;
}

/* SIDEBAR CLASSES */


/* HOVERBOX */

.hover-box {
    z-index: 50;
    position: absolute;
    color: white;
    border: 1px solid white;
    background-color: #3e3e3e;
    /* ADD SMOOTH ANIMATIONS */
}

.icon-button .hover-box {
    visibility: hidden;
}

.icon-button:hover .hover-box {
    visibility: visible;
}

/* HOVERBOX */

/* CHAT SECTION */

.chat-section {
    justify-content: space-between;
    flex-grow: 1; 
    background-image: url(/background-image.png);
    background-repeat: repeat;
    background-size: fill;
    width: 100%; 
    height: 100%;
}

.message-bar {
    padding: 0.5rem; /* Should be the same as in the chats-list li class */
    width: 100%;
    background-color: var(--border-hover-color);
    gap: 1rem;
    align-items: center;
    padding: 0.75rem 1rem 0.75rem 1rem;
}

.message-bar input {
    border: none;
    background-color: var(--selected-chat-color);
    padding: 0.75rem 3rem; 
    border-radius: 0.35rem;
    position: relative;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.message-bar input::placeholder {
    color: var(--tertiary);
    font-size: 1rem;
    font-weight: 500;
}

.chat-bubble {
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--text-color);
    position: relative;
}

.msg-time {
    font-size: 0.7rem;
    font-weight: 300;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.25rem 0.35rem;
    color: var(--secondary);
}

.day-bubble {
align-items: center;
}

.day-bubble span {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.75rem;
    border-radius: 0.375rem;
    background-color: var(--chat-bg);
    color: var(--secondary);
    font-size: 0.9rem;
}

/* CHAT SECTION */

/* CONTACT LIST SECITON */

.contact-list-banner {
    padding: 3rem 0rem 1rem 1rem;
    justify-content: start; 
    align-items: center;
    gap: 2rem;
}

.no-results {
    font-size: 0.9rem;
    color: var(--secondary);
    text-align: center;
    margin-top: 2rem;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* CONTACT LIST SECTION */